body {
    margin: 0;
}

.nom {
    height: 200px;
    width: 200px;
}

.top{
    background-color: red;
    position:absolute;
    margin-top: 0px;
    margin-left: 400px;
}

.mid{
    background-color: darkblue;
    position:absolute;
    margin-top: 200px;
    margin-left: 200px;
}

.bot{
    background-color: yellow;
    position:absolute;
    margin-top: 400px;
    margin-left: 0px;
    
}