body {
    margin: 0;
}

.nom{
    height: 200px;
    width: 200px;
}

.red{
    background-color: red;
    margin-left: 400px;
    position: absolute;
}

.blue{
    background-color: blue;
    position: absolute;
}

.yellow{
    background-color: yellow;
    margin-left: 200px;
    position: absolute;
}